<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/ToDoList/favicon.ico" type="image/x-icon" />
    <title>ToDoList</title>
  </head>
  <body>
    <h1 style="text-align: center">ToDoList</h1>
    <div style="text-align: center">
      <input type="text" name="add" id="add" required /><button onclick="addHandler({{.record}})">
        添加
      </button>
    </div>
    <div style="text-align: center">
      <ol style="display: inline-block">
      {{ range $i, $v := .T }}
        <li>
          <button onclick="toggleHandler({{ $v.Model.ID }})">切換</button>        
          <input 
          placeholder={{ $v.Name }} 
          onchange=updateHandler(1)
          readonly
          ondblclick="this.read=''"
          id= {{ $v.Model.ID }}
          />
          <button onclick="deleteHandler({{ $v.Model.ID }})">刪除</button>
        </li>
      {{end}}
      </ol>
    </div>
    <div id="pageDiv" style="text-align: center"></div>
    <div style="text-align: center">
      未完成數量:<span id="count">{{.count}}</span>，已完成數量:<span
        id="completed"
        >{{.completed}}</span
      >
    </div>
    <div style="text-align: center">
      第<span id="whichPage">{{.page}}</span>頁
    </div>
    <div style="text-align: center">
      <button onclick="javascript:window.location.href='/ncp/1/{{.record}}'">未完成</button
      ><button onclick="javascript:window.location.href='/cp/1/{{.record}}'">
        已完成
      </button>
    </div>
    <div style="text-align: center">
    {{ if .cpPage }}
      已完成事項
    {{ else }}
      未完成事項
    {{ end }}
    </div>
    
    <div id="cpPage" style="text-align: center">{{.cpPage}}</div>
    <div style="text-align: center">每頁顯示<span id="record">{{.record}}</span>筆資料</div>
    <div style="text-align: center">您可以輸入每頁想顯示幾筆資料：<input onclick="recordHandler(this.value)" /><div>
    <script src="/ToDoList/index.js"></script>
  </body>
</html>
